@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;

}

.home.reports.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  
}

#circle {
  float: left;
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin: 30px;
  shape-outside: circle();
  clip-path: circle();
  background: lightblue;
  text-align: right;
}
#circle1 {
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px;
  shape-outside: circle();
  clip-path: circle();
  background: lightblue;
  text-align: right;
}

.sidenav {
  height: 100%;  
  width: 25%;  
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color:#232323; 
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;

}
